In [27]:
import pandas as pd
import json
from sqlalchemy.engine import create_engine

In [28]:
data_housing = pd.read_csv("housing.csv")
data_housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

# Remplacement des valeurs manquantes
On remplace les valeurs manquantes par la mediane :

In [29]:
data_housing["total_bedrooms"] = data_housing["total_bedrooms"].fillna(data_housing["total_bedrooms"].median())

On vérifie qu'il n'existe plus de valeurs manquantes dans notre dataset :

In [30]:
data_housing.isna().value_counts()

longitude  latitude  housing_median_age  total_rooms  total_bedrooms  population  households  median_income  median_house_value  ocean_proximity
False      False     False               False        False           False       False       False          False               False              20640
dtype: int64

# Préparation des données
Chaque donnée non numéraire ont besoin d'être transformée.

In [31]:
data_housing.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

Ainsi on transforme les champs `population`, `housing_median_age`, `total_rooms`, `total_bedrooms`, `households` et `median_house_value` sont tous des int.

In [32]:
data_housing[['population', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'households', 'median_house_value']] = data_housing[['population', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'households', 'median_house_value']].astype(int)
data_housing.dtypes

longitude             float64
latitude              float64
housing_median_age      int64
total_rooms             int64
total_bedrooms          int64
population              int64
households              int64
median_income         float64
median_house_value      int64
ocean_proximity        object
dtype: object

# Connexion à la base de données

In [33]:
## IMPORT DU CONFIG.JSON
# assignation de la config.json à fichierConfig
fichierConfig = "config.json"
# ouverture et chargement des donnée contenu dans fichierConfig
with open(fichierConfig) as fichier:
    config = json.load(fichier)["Postgres"]

class SqlORM():
    def __init__(self,config):
        self.config = config
        self.connector = self._connect_db()
    def _connect_db(self):
        connector = create_engine(config["connector"] + '://' + config["user"] + ":" + config["password"] + "@" + config["host"] + ":" + config["port"] + "/" + config["bdd"], echo=False)
        return connector

testclass = SqlORM(config)
print(10 * "*")
print("test de la connection", '\n')
connection = testclass.connector
print(connection , '\n')

**********
test de la connection

Engine(postgresql://simplon:***@172.17.0.2:5432/db_housing)

In [34]:
data_housing = data_housing.rename(columns={"longitude":"ho_longitude"})
data_housing = data_housing.rename(columns={"latitude":"ho_latitude"})
data_housing = data_housing.rename(columns={"housing_median_age":"ho_housing_median_age"})
data_housing = data_housing.rename(columns={"total_rooms":"ho_total_rooms"})
data_housing = data_housing.rename(columns={"total_bedrooms":"ho_total_bedrooms"})
data_housing = data_housing.rename(columns={"population":"ho_population"})
data_housing = data_housing.rename(columns={"households":"ho_households"})
data_housing = data_housing.rename(columns={"median_income":"ho_median_income"})
data_housing = data_housing.rename(columns={"median_house_value":"ho_median_house_value"})
data_housing = data_housing.rename(columns={"ocean_proximity":"ho_ocean_proximity"})
data_housing.index +=1
data_housing.rename_axis(index="ho_id")

,ho_longitude,ho_latitude,ho_housing_median_age,ho_total_rooms,ho_total_bedrooms,ho_population,ho_households,ho_median_income,ho_median_house_value,ho_ocean_proximity
ho_id,,,,,,,,,,
1,-122.23,37.88,41,880,129,322,126,8.3252,452600,NEAR BAY
2,-122.22,37.86,21,7099,1106,2401,1138,8.3014,358500,NEAR BAY
3,-122.24,37.85,52,1467,190,496,177,7.2574,352100,NEAR BAY
4,-122.25,37.85,52,1274,235,558,219,5.6431,341300,NEAR BAY
5,-122.25,37.85,52,1627,280,565,259,3.8462,342200,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20636,-121.09,39.48,25,1665,374,845,330,1.5603,78100,INLAND
20637,-121.21,39.49,18,697,150,356,114,2.5568,77100,INLAND
20638,-121.22,39.43,17,2254,485,1007,433,1.7000,92300,INLAND
20639,-121.32,39.43,18,1860,409,741,349,1.8672,84700,INLAND
20640,-121.24,39.37,16,2785,616,1387,530,2.3886,89400,INLAND

In [36]:
data_housing.to_sql('house', if_exists='append', con=connection, index=False)
print("executed")

executed

In [40]:
data = pd.read_sql_query("SELECT * FROM house",connection)
data

,ho_id,ho_longitude,ho_latitude,ho_housing_median_age,ho_total_rooms,ho_total_bedrooms,ho_population,ho_households,ho_median_income,ho_median_house_value,ho_ocean_proximity,ho_created_date
0,1,-122.23,37.88,41,880,129,322,126,8.3252,452600,NEAR BAY,None
1,2,-122.22,37.86,21,7099,1106,2401,1138,8.3014,358500,NEAR BAY,None
2,3,-122.24,37.85,52,1467,190,496,177,7.2574,352100,NEAR BAY,None
3,4,-122.25,37.85,52,1274,235,558,219,5.6431,341300,NEAR BAY,None
4,5,-122.25,37.85,52,1627,280,565,259,3.8462,342200,NEAR BAY,None
...,...,...,...,...,...,...,...,...,...,...,...,...
20635,20636,-121.09,39.48,25,1665,374,845,330,1.5603,78100,INLAND,None
20636,20637,-121.21,39.49,18,697,150,356,114,2.5568,77100,INLAND,None
20637,20638,-121.22,39.43,17,2254,485,1007,433,1.7000,92300,INLAND,None
20638,20639,-121.32,39.43,18,1860,409,741,349,1.8672,84700,INLAND,None
20639,20640,-121.24,39.37,16,2785,616,1387,530,2.3886,89400,INLAND,None

In [39]:
data.dtypes

ho_id                      int64
ho_longitude             float64
ho_latitude              float64
ho_housing_median_age      int64
ho_total_rooms             int64
ho_total_bedrooms          int64
ho_population              int64
ho_households              int64
ho_median_income         float64
ho_median_house_value      int64
ho_ocean_proximity        object
ho_created_date           object
dtype: object